
bin/

build/

*.ini

settings/lastSessionBindings.json

settings/lastSessionSettings.json

settings/lastSessionBindingsPreset.json

records/

exports/

settings/lastSessionExportSettings.json
